<% content_for :content_header do %>

<section class="content-header">
  <h1>
    Dashboard
    <small>Medgurus Übersicht</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active">
      <%= link_to admin_root_path  do %>
        <i class="fa fa-dashboard"></i>
        Home - Dashboard
      <% end %>
    </li>
  </ol>
</section>


<% end %>

<h1>Admin::Dashboard#index</h1>
<p>Find me in app/views/admin/dashboard/index.html.erb</p>
