<% content_for :content_header do %>

<section class="content-header">
  <h1>
    Dashboard
    <small>Medgurus Übersicht</small>
  </h1>
  <ol class="breadcrumb">
    <li class="active">
      <%= link_to admin_root_path  do %>
      <i class="fa fa-dashboard"></i>
      Home - Dashboard
      <% end %>
    </li>
  </ol>
</section>

<% end %>
<div class="row">
  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-aqua">
        <i class="ion ion-person-stalker"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Anzahl der Benutzer</span>
        <span class="info-box-number">1025<small>
            Benutzer</small>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-red">
        <i class="ion ion-help"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Anzahl der Fragen</span>
        <span class="info-box-number">600<small>
            Fragen</small>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-green">
        <i class="fa fa-graduation-cap"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Kurseplätze vergeben</span>
        <span class="info-box-number">90<small>
            Plätze</small>
        </span>
      </div>
    </div>
  </div>

  <div class="col-md-3 col-sm-6 col-xs-12">
    <div class="info-box">
      <span class="info-box-icon bg-yellow">
        <i class="ion ion-ios-book"></i>
      </span>

      <div class="info-box-content">
        <span class="info-box-text">Verkaufte Bücker</span>
        <span class="info-box-number">800<small>
            Bücher</small>
        </span>
      </div>
    </div>
  </div>


</div>

<div class="box box-info">
  <div class="box-header with-border">
    <h3 class="box-title">Letzte Bestellung</h3>
  </div>
  <!-- /.box-header -->

  <div class="box-body">
    <div class="table-responsive">
      <table class="table no-margin">
        <thead>
          <tr>
            <th>Bestell-Nr</th>
            <th>Produkte</th>
            <th>Status</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td>
              <a href="pages/examples/invoice.html">OR9842</a>
            </td>
            <td>MEDAT - ALL IN ONE SOLIDE VORBEREITET</td>
            <td>
              <span class="label label-success">Geliefert</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="pages/examples/invoice.html">OR1848</a>
            </td>
            <td>Zugang zu Test TMS und EMS</td>
            <td>
              <span class="label label-success">Geliefert</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="pages/examples/invoice.html">OR7429</a>
            </td>
            <td>Abo TMS und EMS</td>
            <td>
              <span class="label label-success">Geliefert</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="pages/examples/invoice.html">OR7429</a>
            </td>
            <td>MedAT Vorbereitungsbücher</td>
            <td>
              <span class="label label-info">In Bearbeitung</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="pages/examples/invoice.html">OR1848</a>
            </td>
            <td>TMS und EMS Vorbereitungsbücher</td>
            <td>
              <span class="label label-warning">Auf Stop</span>
            </td>
          </tr>
          <tr>
            <td>
              <a href="pages/examples/invoice.html">OR7429</a>
            </td>
            <td>TMS und EMS Vorbereitungsbücher/td>
              <td>
                <span class="label label-success">Geliefert</span>
              </td>
            </tr>
            <tr>
              <td>
                <a href="pages/examples/invoice.html">OR9842</a>
              </td>
              <td>MEDAT INTENSIVKURS PFLICHTVORLESUNG</td>
              <td>
                <span class="label label-success">Geliefert</span>
              </td>
            </tr>
          </tbody>
        </table>
      </div>
      <!-- /.table-responsive -->
    </div>
    <!-- /.box-body -->
    <div class="box-footer clearfix">
      <a href="#">Alle Bestellungen ansehen</a>
    </div>
    <!-- /.box-footer -->
  </div>
