<div class="tutor" style="z-index:10; min-height: 600px;">
  <div class="row">
    <div class="large-6 columns content">
      <h3>Unsere Tutoren</h3>
    </div>
    <div class="large-6 columns content">
      <div class="polaroid" style="position:relative; top: -60px;">
        <%= image_tag 'tutors/polaroids/1.png', style: "position:absolute; top:61px; right: -25px" %>
        <%= image_tag 'tutors/polaroids/2.png', style: "position:absolute; top:44px" %>
        <%= image_tag 'tutors/polaroids/3.png', style: "position:absolute; top:-35px" %>
      </div>
    </div>
    <div class="clear"></div>
  </div>
</div>
