<!-- Sidebar Menu -->
<ul class="sidebar-menu">
  <li class="header">ADMINISTRATION</li>
  <!-- Optionally, you can add icons to the links -->
  <li class="active">
    <a href="#">
      <i class="fa fa-tachometer"></i>
      <span>Dashboard</span>
    </a>
  </li>
  <li>
    <%= link_to admin_pages_path  do %>
      <i class="fa fa-file-text"></i>
      <span>Seiten</span>
    <% end %>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-question"></i>
      <span>Fragen</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-ticket"></i>
      <span>Gutscheine</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-book"></i>
      <span>Seminare</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-graduation-cap"></i>
      <span>Tests</span>
    </a>
  </li>
  <li>
    <a href="#">
      <i class="fa fa-users"></i>
      <span>Benutzer</span>
    </a>
  </li>

  <li>
    <a href="#">
      <i class="fa fa-cart-plus"></i>
      <span>Bestellung</span>
    </a>
  </li>

</ul>
<!-- /.sidebar-menu -->
